@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,300;0,500;1,200 & display=swap');

*{
   font-family: 'Montserrat', sem serifa; 
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear;
}
:root{
    --red: #ff3838

}

*::sectioin{
    background-color: var(--red);
    color : white
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: #f7f7f7;
}

header{
    position:fixed;
    top:0;left:0;right: 0;
     z-index: 1000;

}